
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6c0017;
    color: #ecf0f1;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #6c0017;
    padding: 0.5em;
    text-align: center;
    margin: 10px 15px 20px 15px;
}

nav a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #fcfcfc;
    color: #333;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    color: #3498db;
}

p {
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

.left-align {
    text-align: left;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

.card h3 {
    color: #3498db;
}

.card p {
    line-height: 1.4;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #6c0017;
    color: #ecf0f1;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img.img_lenguaje{
    width: 160px;
    border-radius: 100px;
}